body{
    background: silver;
}

#banner{
    width: 100%;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
.principal{
    background: rgb(233, 224, 190);
    padding: 20px;
}

.titulo-principal{
     padding-left: 30px;
}

p{
    text-align: center;
}

em strong {
    color: rgb(255, 0, 0);
}

.titulo-centralizado{
    text-align: center;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background:white;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagendiferencial{
    width: 50%;
}
.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}